<h2 class="d-flex justify-content-center m-4">Lotes Expirados:</h2>
<%= render partial: 'list', locals: { lots: @approved_lots } %>

<h2 class="d-flex justify-content-center m-4">Lotes Pendentes Aguardando Cancelamento:</h2>
<%= render partial: 'list', locals: { lots: @pending_lots } %>

<h2 class="d-flex justify-content-center m-4">Lotes Encerrados:</h2>
<%= render partial: 'list', locals: { lots: @closed_lots } %>

<h2 class="d-flex justify-content-center m-4">Lotes Cancelados:</h2>
<%= render partial: 'list', locals: { lots: @canceled_lots } %>

