<div class="d-flex flex-wrap justify-content-center"><h2> Produtos </h2></div>
<div class="d-flex flex-wrap justify-content-center">
    <% @products.each do |product| %>
        <div class="card m-3 w-20" style="width: 18rem;">
            <img src="<%= url_for(product.image) %>" class="card-img-top fixed-height" alt="imagem do produto">
            <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <a href="<%= product_path(product) %>" class="btn btn-primary">Ver Detalhes</a>
            </div>
        </div>
    <% end %>
</div>